{% extends 'base.html' %}
{% load widget_tweaks %}



{% block content %}

<!--   HERE IS FORM   -->
        <div class="ml-5 mt-3 left-sidebar">
            <form action="" method="POST" class="form-group">
				<h3 class="text-center">Выберите даты:</h3>
				<hr>

				{% csrf_token %}

                {% if form.errors %}
				    {% for field in form %}
				        {% for error in field.errors %}
				            <div class="alert alert-danger">
				                <strong>{{ error|escape }}</strong>
				            </div>
				        {% endfor %}
				    {% endfor %}
				    {% for error in form.non_field_errors %}
				        <div class="alert alert-danger">
				            <strong>{{ error|escape }}</strong>
				        </div>
				    {% endfor %}
                {% endif %}

                {% for field in form %}
				  <div class="form-group">
					<label for="{{ field.id_for_label }}">{{ field.label }}</label>
					{% render_field field class="form-control" placeholder=field.label %}
				  </div>
				{% endfor %}

                <button class = 'btn btn-primary' type = 'Submit'>Поиск</button>
                <a href="" id="cancel" name="cancel" class="btn btn-danger">Отмена</a>
            </form>
        </div>


<!--   HERE WILL BE CONTENT   -->
    <div class="mt-3 mr-5 right-sidebar">
		{% if dates %}
			<h1 class="text-center"><b>Статистика</b></h1>
			<hr>

			<div id="exTab2">
				<ul class="nav nav-tabs">
					{% for date in dates %}
						{% if forloop.first %}
							<li class ='mb-2 date-li'><a  href="#{{ forloop.counter }}" data-toggle="tab" class="active">{{ date|date:"m-d-Y" }}</a></li>
						{% else %}
							<li class ='mb-2 date-li'><a  href="#{{ forloop.counter }}" data-toggle="tab">{{ date|date:"m-d-Y" }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>

				<div class="tab-content ">

							<!-- Nav tabs -->
					  <ul class="nav nav-tabs mt-3 inner-nav-tabs">
						<li class="nav-item tab1">
						  <a class="nav-link active" data-toggle="tab" href="#table1">Статистика</a>
						</li>
						<li class="nav-item tab2">
						  <a class="nav-link" data-toggle="tab" href="#table2">Товари,​​ які ​​виросли в ​​продажах</a>
						</li>
						<li class="nav-item tab3">
						  <a class="nav-link" data-toggle="tab" href="#table3">Товари,​​ які впали в ​​продажах</a>
						</li>
					  </ul>

					  <!-- Tab panes -->
					  <div class="tab-content inner-tab-panes">
						<div id="table1" class="container tab-pane active"><br>
						  {{ general_df|safe }}
						</div>
						<div id="table2" class="container tab-pane fade"><br>
						  {{ grow_df|safe }}
						</div>
						<div id="table3" class="container tab-pane fade"><br>
						  {{ drop_df|safe }}
						</div>
					  </div>

					</div>

				</div>
			</div>
		{% else %}
			<h1 class="text-center"><i class="fas fa-arrow-left mr-3"></i>Выберите даты для отображение статистики</h1>
		{% endif %}
    </div>



{% endblock %}