body {
    color: #343A40;
}

hr {
    background: #343A40;
}

.icons-a, .icons-b {
    color: #343A40;
    background-color: white;
    border-radius: 5px;
}

.icons-a { padding: 5px 15px; }
.icons-b { padding: 2px 15px; }

.icons-a:hover, .icons-b:hover {
    text-decoration: none;
    color: white;
    background-color: #343A40;
    box-shadow: 0px 0px 7px white;
}


.login-page {
    margin-left: 30%;
    width: 32%;
    margin-top: 5%;
    padding: 0px 30px 10px 30px;
    border: 1px solid #9FCDFF;
    border-radius: 15px;
    box-shadow: 0px 0px 7px #343A40;
}