{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <title>
        {% block title %}DataWiz TestCase {% endblock %}
    </title>

</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-light justify-content-between" style="background: #9FCDFF;">
      <a class="navbar-brand" href="#">DataWiz TestCase</a>

      <div class="d-inline mr-5">
          {% if user.is_authenticated or user.is_active %}
              <a href="{% url 'logout' %}" class="ml-3 icons-a"><i class="fas fa-sign-out-alt fa-lg mr-1 icons-color" title="Log Out"></i>Выход</a>
          {% else %}
              <button class="login-btn btn btn-primary mr-3" type="button" name="button">
                  <i class="fas fa-sign-in-alt fa-lg mr-1 icons-color" title="Log In"></i>Вход
              </button>

              <button class="signup-btn btn btn-primary" type="button" name="button">
                  <i class="fas fa-user-plus fa-lg mr-1 icons-color" title="Registration"></i>Регистрация
              </button>
          {% endif %}
      </div>
    </nav>



    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
    </div>



    {% if messages %}
        {% for message in messages %}
            <div class = 'alert alert-{{ message.tags }}'>
                <b>{{ message }}</b>
            </div>
        {% endfor %}
    {% endif %}


{% block content %}
{% endblock %}



<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>


{% block js %}

<script>
<!-- HIDE MESSAGES -->
$(function () {

    $(".login-btn").modalForm({formURL: "{% url 'login' %}"});
    $(".signup-btn").modalForm({formURL: "{% url 'signup' %}"});

    // Hide message
    $(".alert").fadeTo(5000, 500).slideUp(500, function(){
        $(".alert").slideUp(500);
    });
});
</script>


<!--  DISPLAY DATA BY DATES  -->
<script>

$(document).ready(function(){
    $('.date-li a').on('click', function(e){
<!--        e.preventDefault()-->
<!--        $('.date-li a').removeClass("active");-->
<!--        $(this).addClass("active");-->

        var date = $(this).html()
        data = {'curr_date':date}

        $.ajax({
            type: 'GET',
            url: '{% url "curr-date-table" %}',
            dataType: 'json',
            data: data,
            success: function(data){
                $('.inner-nav-tabs').html('')
                $.each(data, function(field){
                    $('.inner-nav-tabs').html(' \
                        <li class="nav-item"> \
						  <a class="nav-link active" data-toggle="tab" href="#table1">Статистика</a> \
						</li> \
						<li class="nav-item"> \
						  <a class="nav-link" data-toggle="tab" href="#table2">Товари,​​ які ​​виросли в ​​продажах</a> \
						</li> \
						<li class="nav-item"> \
						  <a class="nav-link" data-toggle="tab" href="#table3">Товари,​​ які впали в ​​продажах</a> \
						</li> \
                    ')

                    $('.inner-tab-panes').html(' \
                            <div id="table1" class="container tab-pane active"><br> \
                              '+data[field]["general_df"]+' \
                            </div> \
                            <div id="table2" class="container tab-pane fade"><br> \
                              '+data[field]["grow_df"]+' \
                            </div> \
                            <div id="table3" class="container tab-pane fade"><br> \
                              '+data[field]["drop_df"]+' \
                            </div> \
                    ')
                })
            }
        })
    });

});

</script>


{% endblock %}



</body>
</html>