body {
    color: #343A40;
}

/*
.navbar-brand {
    color: #343A40;
}
*/

.icons-a {
    color: #343A40;
    background-color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

.icons-a:hover {
    text-decoration: none;
    color: white;
    background-color: #343A40;
    box-shadow: 0px 0px 7px white;
}